# Entorno virtual
.venv/
venv/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo
